<!doctype html>
<html lang="en" class="h-100">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Montserrat:wght@400;500;600&display=swap"
        rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="./view/style/style.css">
    <!-- Favicons -->
    <link rel="apple-touch-icon" href="./view/images/favicon/apple-touch-icon.png" sizes="180x180">
    <link rel="icon" href="./view/images/favicon/favicon-32x32.png" sizes="32x32" type="image/png">
    <link rel="icon" href="./view/images/favicon/favicon-16x16.png" sizes="16x16" type="image/png">
    <link rel="manifest" href="./view/images/favicon/site.webmanifest">
    <link rel="icon" href="./view/images/favicon/favicon.ico">
    <!-- Font Awesome CDN (Icon Font) -->
    <script src="https://kit.fontawesome.com/3ba9c6af1e.js" crossorigin="anonymous"></script>
    <title>Madison Street Meal Prep</title>
</head>
