<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-custom-dark py-3">
        <div class="container">
            <a class="navbar-brand" href=".?action=Show Home">Madison Street Meal Prep</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Show Home">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMeals" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Meal Options</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMeals">
                            <a class="dropdown-item" href=".?action=Show Meal Options">View Meal Options</a>
                            <a class="dropdown-item" href=".?action=Show Current Meals">View Current Meals</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Show Order Now">Order Now</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href=".?action=Show FAQ">FAQ</a>
                    </li>
                    {% if session.is_valid_user is not defined %}
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Show Log In">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href=".?action=Show Sign Up">Sign Up</a>
                        </li>
                    {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownProfile" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-user pr-2 my-account-icon"></i>{{ session.first_name|e }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href=".?action=Show Order History">Order History</a>
                                <a class="dropdown-item" href=".?action=Show My Account">My Account</a>
                                <a class="dropdown-item" href=".?action=Log Out">Log Out</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>