body {
    font-family: 'Montserrat', sans-serif;
}

.navbar-dark a.navbar-brand {
    font-family: 'Courgette', cursive;
    font-size: 1.25rem;
    color: #ff9933;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-dark .navbar-nav .active>.nav-link:before {
    content: "\2022";
    color: #ff9933;
    padding-right: .35rem;
}

.navbar-dark .navbar-nav .active>.nav-link:after {
    content: "\2022";
    color: #ff9933;
    padding-left: .35rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.bg-custom-dark {
    background-color: #1a1d21;
}

.bg-custom-light {
    background-color: #f8f8f6;
}

a.dropdown-item, a:visited.dropdown-item {
    color: #212529;
}

a.dropdown-item, a:hover.dropdown-item {
    font-weight: normal;
}

a,
a:visited {
    color: #ff9933;
    font-weight: 600;
}

a:hover,
a:active {
    color: #ff9933;
    font-weight: 600;
    text-decoration: underline;
}

h1 {
    font-family: 'Courgette', cursive;
    font-size: 2rem;
}

h2 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    font-weight: 600;
    font-size: 1.25rem;
}

section.benefits i {
    font-size: 3rem;
    color: #ff9933;
}

section.home-get-started .image-wrap {
    text-align: left;
}

.card-col {
    margin-bottom: .5rem;
}

.card-list {
    list-style-type: none;
}

.card-list li span {
    font-weight: bold;
}

.form-control.order-quantity {
    width: 4rem;
    height: 2rem;
}

div#accordion .card button {
    color: #343a40;
    font-weight: 600;
    white-space: normal;
}

form button.btn.btn-primary {
    background-color: #ff9933;
    border: 2px solid #ff9933;
    font-weight: 700;
}

form button.btn.btn-primary:hover {
    background-color: #ffffff;
    color: #ff9933;
    border-color: #ff9933;
}



.form-group>label {
    font-weight: 700;
}

label.form-required:after {
    content: "*";
    padding-left: 4px;
    color: #ff9933;
}

.field-error {
    border: 1px solid #dc3545;
}

p.field-description {
    font-size: .85rem;
    font-style: italic;
    margin-bottom: .5rem;
}

.order-total td.label:not(.total-label) {
    font-weight: 500;
}

.order-total tr.total {
    font-weight: 700;
}

#log_in_form, .log-in-alert {
    max-width: 25rem;
}

#sign_up_form, .sign-up-alert, #account_form, .account-alert {
    max-width: 33rem;
}

input.form-submit.btn-primary {
    background-color: #ff9933;
    border: 2px solid #ff9933;
    color: #ffffff;
}

input.form-submit.btn-secondary {
    background-color: #a8a6a6;
    border: 2px solid #a8a6a6;
    color: #ffffff;
}

input.form-submit.btn-primary:hover {
    background-color: #ffffff;
    border: 2px solid #ff9933;
    color: #ff9933;
}

input.form-submit.btn-secondary:hover {
    background-color: #ffffff;
    border: 2px solid #a8a6a6;
    color: #a8a6a6;
}

i.my-account-icon {
    color: #ff9933;
} 

span.color-highlight {
    color: #ff9933;
}

h3.customer-pick {
    color: #ff9933;
    font-size: 1.1rem;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .card-col {
        margin-bottom: 2rem;
    }

    .navbar-dark a.navbar-brand {
        font-size: 1.5rem;
    }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .navbar-dark a.navbar-brand {
        font-size: 2rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .order-total table {
        max-width: 80%;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    section.home-get-started .image-wrap {
        text-align: right;
    }

    .order-total table {
        max-width: 100%;
    }
}