{{ include('/shared/header.twig') }}
{{ include('/shared/navigation.twig') }}
<div class="container py-4 text-center">
    <main class="w-75 mx-auto">
        <h1>My Account</h1> 
    </main>
</div>
{{ include('/shared/footer.twig') }}